<footer class="footer bg-gray py-7">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <p><a href="#">ReviewApp</a></p>
        </div>

        <div class="col-xl-5">
          <p>We’re a team of experienced designers and developers. We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning websites.</p>
          <div class="social social-sm social-bg-brand social-cycling mt-6">
            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
            <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
          </div>
          <hr class="d-xl-none">
        </div>

        <div class="col-4 col-xl-2 offset-xl-1">
          <div class="nav flex-column">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Contact</a>
          </div>
        </div>

        <div class="col-4 col-xl-2">
          <div class="nav flex-column">
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link" href="#">Security</a>
          </div>
        </div>

        <div class="col-4 col-xl-2">
          <div class="nav flex-column">
            <a class="nav-link" href="#">Help Center</a>
            <a class="nav-link" href="#">API</a>
            <a class="nav-link" href="#">FAQ</a>
          </div>
        </div>

      </div>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
