<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" style="margin-right:30%;" href="#">Swap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" href="#home"><i class="fas fa-home fa-1x"></i>Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#search"><i class="fas fa-search fa-1x"></i>Search</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#store"><i class="fas fa-store fa-1x"></i> Store</a>
            </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">Déposer une annonce</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="page-intro">
    <div class="page-intro-title text-center p-5">
      <h2>The First Website of Goods Exchange in Morocco</h1>
    </div>
  </section>
