<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="smart">
    <div class="container">
  
      <div class="navbar-left mr-4">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#">
            <span style="color:black;font-weight:900">ReviewApp</span>
          <!-- <img class="logo-dark" src="../assets/img/logo-dark.png" alt="logo">
          <img class="logo-light" src="../assets/img/logo-light.png" alt="logo"> -->
        </a>
      </div>
  
      <section class="navbar-mobile">
        <span class="navbar-divider d-mobile-none"></span>
  
        <nav class="nav nav-navbar mr-auto">
          <a class="nav-link" href="#">Home</a>
          <a class="nav-link" href="#">Listing</a>
          <a class="nav-link" href="#">About us</a>
          <a class="nav-link" href="#">Contact us</a>


        </nav>
  
        <div>
          <a class="btn btn-sm btn-light ml-lg-5 mr-2" href="/login">Login</a>
          <a class="btn btn-sm btn-success" href="/login">Sign up</a>
        </div>
      </section>
  
    </div>
  </nav>