<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head
    <%- include('./layouts/head.ejs') %>
  </head>
  <body>
      <%- include('./layouts/header.ejs') %>
  <h1>404 Error</h1><hr><p>This Page doesn't exist</p>
  </body>
    <%- include('./layouts/footer.ejs') %>
</html>
