<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head
    <%- include('./layouts/head.ejs') %>
  </head>
  <body>
      <%- include('./layouts/header.ejs') %>
      <h1>Home page</h1>
  </body>
    <%- include('./layouts/footer.ejs') %>
</html>
