body{
  background-color: #F9F9F9;
}

.nav-item {
  text-align: center;
  padding: 0 10%;
}

.fas {
  margin: 5%;
}


.searcharea{
  border: 0.5px solid #eee;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #ddd;
}


.categorylist .categoryitem{

  border:1px solid #eee;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  background: white;
  min-height: 200px;
}

.navbarfixed nav{
  background: #3C415C;
  padding: 6px;
  top: 0;
}

.logsd {
  background-color: #F9F9F9;
  border:1px solid #3C415C;

}

.logsd:hover {
  background-color: #E1E8EB;
  border:1px solid #3C415C;
  box-shadow: 0 0 5px #F4F9F9;
}

span.logincolor {
  color: #3C415C;
}
