body{
  background-color: #f2f2f2
}
.searcharea{
  border: 0.5px solid #eee;
padding: 30px;
border-radius: 6px;
box-shadow: 1px 1px 4px #ddd;
}


.categorylist .categoryitem{

  border:1px solid #eee;
  background: white;
  min-height: 200px
}
