body {
  background-color: #f8f5f1;
  text-align: center;
}


.navbar-section {
  margin-top:5px;
}

.center {
  margin: 10px auto;
  padding: 0 300px;
}

.page-intro {
  margin: 20px auto;
}

.page-intro-searchbox {
margin: 20px 0px;
padding: 0 300px;
}
