<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body class="pt-5">

      <%- include('../layouts/header.ejs') %>
      <!-- Page Intro Title -->

      <div class="container" >

      <!-- Row that contains list of items and col-4 -->
        <div class="row">
      <!-- List of items -->
          <div id="parent" class="col-lg-8 col-md-12 p-2">

      <!-- First item -->
      <div id="listings">
        <section v-if="goterror">
          <p>We have an internal error and data will be displayed very soon...</p>
        </section>

        <section v-else>
          <div v-if="loading">Loading...</div>

          <div
            v-else
            v-for="item in items"
            class="items"
          >

              <div class="row bg-white g-0 mb-3 shadow-sm rounded-3">

      <!-- Item image -->
                  <div class="col-lg-4 col-md-8">
                    <img src="../img/iphone8.png" class="rounded-start img-fluid"  alt="...">
                  </div>

      <!-- Item details -->
                  <div class="col-lg-8 col-md-12 px-4">
                                <div class="row pt-2">
                                        <div class="col">
                                          <a v-bind:href="'/items/' + item._id"><h2>Price</h2></a>
                                        </div>
                                        <div class="col">
                                          <button type="button" class="btn float-end " name="button"><i class="far fa-heart fa-2x"></i></button>
                                        </div>
                                </div>
      <!-- Item name -->
                                <div class="row border-bottom" id="item-title">
                                <!-- Javascript content -->
                              <a v-bind:href="'/items/' + item._id">  <h5>
                                  {{ item.title }}
                                </h5></a>
                                </div>


      <!-- Item description -->
                                <div class="row" id="item-description">
                                <!-- Javascript content -->
                                <p class="text-start">
                                {{ item.intro }}
                                </p>
                                </div>

      <!-- Item category -->
                                <div class="row bottom-0 start-0">
                                      <div class="row pt-3">
                                        <p class="card-text mb-0">
                                          <small class="text-muted" id="item-category">
                                          <!-- Javascript content -->
                                            <h5 class="mb-0" v-for="categ in item.category">
                                            {{ categ.title }}
                                            </h5>
                                          </small>
                                        </p>
                                      </div>
      <!-- Horizontal ruler -->
                                      <div class="row px-4">
                                        <hr>
                                      </div>


                                      <div class="row pb-3">
      <!-- Time of post -->
                                        <div class="col-sm-4" id="psTime">
                                          <i class="fas fa-clock me-1 text-muted"></i>
                                        <!-- Javascript content -->
                                        <small class="text-muted">
                                          {{ item.createdAt }}
                                        </small>
                                        </div>

      <!-- Location of post -->
                                        <div class="col-sm-4">
                                          <i class="fas fa-map-marker-alt me-1 text-muted"></i>
                                          <small class="text-muted ">Location</small>
                                        </div>
                                      </div>
                                </div>


                    </div>

                </div>


              </div>

            </section>
          </div>



            </div>

            <!-- Other div -->
                    <div class="col-lg-4 col-md-12 bg-white mt-2">col-4</div>


          </div>

    </div>




  </body>

  <script type="text/javascript">



  new Vue({
  el: '#listings',
  data () {
    return {
      items: null,
      loading: true,
      goterror: false
    }
  },
  mounted () {
    axios
      .get('http://127.0.0.1:3000/api/items')
      .then(response => {

        this.items = response.data
      })
      .catch(error => {
        console.log(error)
        this.goterror = true
      })
      .finally(() => this.loading = false)
  }
})



  </script>



    <%- include('../layouts/footer.ejs') %>
</html>
