<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body class="pt-5">
      <%- include('../layouts/header.ejs') %>
      <!-- Page Intro Title -->

      <div class="container" >

      <!-- Row that contains list of items and col-4 -->
        <div class="row">
      <!-- List of items -->
          <div class="col-lg-8 col-md-12 p-2">

      <!-- First item -->
              <div class="row bg-white g-0 mb-2 shadow-sm rounded-3">

      <!-- Item image -->
                  <div class="col-lg-4 col-md-12">
                    <img src="../img/iphone8.png" class="rounded-start img-fluid"  alt="...">
                  </div>

      <!-- Item details -->
                  <div class="col-lg-8 col-md-12 px-4">
                                <div class="row pt-2">
                                        <div class="col">
                                          <a href="#price"><h2>Price</h2></a>
                                        </div>
                                        <div class="col">
                                          <button type="button" class="btn float-end " name="button"><i class="far fa-heart fa-2x"></i></button>
                                        </div>
                                </div>
      <!-- Item name -->
                                <div class="row mb-5">
                                  <h5>Item name</h5>
                                </div>

      <!-- Item category -->
                                <div class="row bottom-0 start-0">
                                      <div class="row mt-5">
                                        <p class="card-text mb-0">
                                          <small class="text-muted" id="item-category">
                                          <!-- Javascript content -->
                                          </small>
                                        </p>
                                      </div>
      <!-- Horizontal ruler -->
                                      <div class="row px-4">
                                        <hr>
                                      </div>

      <!-- Time of post -->
                                      <div class="row pb-3">
                                        <div class="col-lg-3 col-md-2" id="psTime">
                                        <!-- Javascript content -->
                                        </div>

      <!-- Location of post -->
                                        <div class="col-lg-3 col-md-2">
                                        <i class="fas fa-map-marker-alt me-1 text-muted"><small class="text-muted "></i>Location</small>
                                        </div>
                                      </div>
                                </div>


                    </div>

                </div>


            </div>

            <!-- Other div -->
                    <div class="col-lg-4 col-md-12 bg-white mt-2">col-4</div>


          </div>

    </div>



  </body>

  <script type="text/javascript">



  document.addEventListener('DOMContentLoaded', load);



  function load() {


  fetch(`http://127.0.0.1:3000/api/category`)
      .then(response => response.json())
      .then(data => {
          console.log(data);

          // Create category title
          const ctTitle = document.createElement('h5');
          ctTitle.className = 'mb-0';
          ctTitle.innerHTML = data[3].title;

          // Add category title to DOM
          document.querySelector('#item-category').append(ctTitle);


          // Create time of post
          const postTime = document.createElement('small');
          postTime.className = 'text-muted';
          postTime.innerHTML = data[3].createdAt;


          // Add time icon to DOM
          const timeIcon = document.createElement("i");
          timeIcon.className = "fas fa-clock me-1 text-muted";

          document.querySelector('#psTime').append(timeIcon);
          //Add time text to DOM
          document.querySelector('#psTime').append(postTime);


      })
    };


  </script>



    <%- include('../layouts/footer.ejs') %>
</html>
