<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body class="pt-5">
      <%- include('../layouts/header.ejs') %>
      <!-- Page Intro Title -->

      <div class="container" >

      <!-- Row that contains list of items and col-4 -->
        <div class="row">
      <!-- List of items -->
          <div class="col-lg-8 col-md-12 p-0 m-2">

      <!-- First item -->
              <div class="row bg-white g-0 mb-2 shadow-sm rounded-3">

      <!-- Item image -->
                  <div class="col-lg-4 col-md-12">
                    <img src="../img/iphone8.png" class="rounded-start img-fluid"  alt="...">
                  </div>

      <!-- Item details -->
                  <div class="col-lg-8 col-md-12 px-4">
                                <div class="row pt-2">
                                        <div class="col">
                                          <a href="#price"><h2>Price</h2></a>
                                        </div>
                                        <div class="col">
                                          <button type="button" class="btn float-end " name="button"><i class="far fa-heart fa-2x"></i></button>
                                        </div>
                                </div>
      <!-- Item name -->
                                <div class="row mb-5">
                                  <h5>Item name</h5>
                                </div>

      <!-- Item category -->
                                <div class="row bottom-0 start-0">
                                      <div class="row mt-5">
                                        <p class="card-text mb-0">
                                          <small class="text-muted">
                                          <h5 class="mb-0">Item category</h5>
                                          </small>
                                        </p>
                                      </div>
      <!-- Horizontal ruler -->
                                      <div class="row px-4">
                                        <hr>
                                      </div>

      <!-- Time of post -->
                                      <div class="row">
                                        <div class="col-lg-3 col-md-2">
                                          <small class="text-muted"><i class="fas fa-clock me-1"></i>time</small>
                                        </div>

      <!-- Location of post -->
                                        <div class="col-lg-3 col-md-2">
                                          <small class="text-muted"><i class="fas fa-map-marker-alt me-1"></i>Location</small>
                                        </div>
                                      </div>
                                </div>


                    </div>

                </div>


            </div>

            <!-- Other div -->
                    <div class="col-lg-3 col-md-12 bg-white m-2">col-4</div>


          </div>

    </div>



  </body>

    <%- include('../layouts/footer.ejs') %>
</html>
