<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>
  <body>
    <%- include('../layouts/navbar.ejs') %>

    <main class="main-content pt-8">
      <header class="header p-5" style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">

      <!-- <section> -->
      <div class="container">
        <!-- Login row -->

        


        <% if (!user){ %>
        <div class="row " id="loginForm">
          <div class="col-sm-12 offset-sm-0 p-4 mb-3">
                  <div class="row p-4 align-middle text-center">

                  </div>
                  <form action="" method="post" class="col-11 col-md-6 col-xl-5 mx-auto section-dialog bg-gray p-5 p-md-7">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group input-group input-group-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                      </div>
                        <input type="text" class="form-control" id="usernames2" placeholder="Username...">
                      </div>
                      <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password03" placeholder="Password...">
                      </div>
                      <div class="form-group input-group input-group-lg">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            Remember me
                          </label>
                        </div>
                      </div>
                      <a onclick="login()" href="#" class="btn btn-block btn-lg btn-primary">Sign in</a>
                    </form>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" style="color: black" id="signIn" href="#">New around here? Sign up</a>
                    <a class="dropdown-item text-center" style="color: black" href="#">Forgot password?</a>
                </div>
            </div>


          <!-- Sign up row -->
          <div class="row d-none" id="signUpForm">
            <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0 bg-white p-4 mb-3 shadow rounded">
                <div class="row p-4 align-middle text-center">
                  <div id="message"></div>
                  <h1>Sign up</h1>
                </div>

               
        </div>
      </div>
      <% } else{ %>
        <h1>You are logged in</h1>
        <% } %>

      </div>

      </header>
    <!-- </section> -->

  </header>
    </main>

  </body>


    <%- include('../layouts/footer.ejs') %>
</html>
