<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>
  <body>
    <%- include('../layouts/navbar.ejs') %>
    <main class="main-content pt-10">
      <section>
      <div class="container">
        <!-- Login row -->

        


        <% if (!user){ %>
        <div class="row " id="loginForm">
          <div class="col-sm-12 offset-sm-0 p-4 mb-3">
                  <div class="row p-4 align-middle text-center">
                   
                  </div>
                  
                </div>
            </div>


          <!-- Sign up row -->
          <div class="row d-none" id="signUpForm">
            <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0 bg-white p-4 mb-3 shadow rounded">
                <div class="row p-4 align-middle text-center">
                  <div id="message"></div>
                  <h1>Sign up</h1>
                </div>

               
        </div>
      </div>
      <% } else{ %>
        <h1>You are logged in</h1>
        <% } %>

      </div>
    </section>


    </main>

  </body>


    <%- include('../layouts/footer.ejs') %>
</html>
